@import url(https://fonts.googleapis.com/css?family=Roboto);

$charged: #54B7B7;
$menu: #464646;
$pan-width: 40px;

body {
  background-color: black;
  color: white;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  font-family: 'Roboto', sans-serif;

  #app {
    width: 100%;
    height: 100%;
  }

  .board {
    height: 100%;
    width: 100%;

    .viewport {
      position: relative;
    }

    .square {
      background-color: #2E2E2E;
      border: 1px solid;
      border-color: #2E2E2E;
      border-radius: 10px;
      display: inline-block;
      margin: 2px 2px;
      height: 100px;
      width: 100px;

      &:hover {
        border-color: $charged;
      }

      img {
        width: 100%;
      }
    }

    .square-center {
      background-color: gray;
    }

    .menu {
      position: absolute;
      left: 10px;
      top: 10px;

      .menu-bar {
        position: relative;
        display: inline-block;
        background-color: $menu;
        width: 120px;
        height: 20px;
        margin-right: 8px;
        padding: 12px 20px;
        border: 1px solid $menu;
        border-radius: 5px;

        &:hover {
          border-color: $charged;
        }

        .icon {
          position: absolute;
          right: 20px;
          top: 20px;
          width: 10px;
        }

      }

      .dropdown {
        position: absolute;
        background-color: $menu;
        border: 1px solid $menu;
        border-radius: 5px;
        top: 54px;
        left: 0px;
        
        .dropdown-title {
          font-size: 20px;
          padding-top: 12px;
          padding-left: 10px;
          margin-bottom: 10px;
        }
      }

      .controls {
        height: calc(100vh - 100px);
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;

        .game-control-entry {
          border-top: 1px solid white;
          margin-top: 20px;
          padding: 10px 0;
          padding-right: 10px;
        }

        .game-control-entry-title {
          font-size: 18px;
          font-weight: bold;
        }

        .game-control-entry-details {
          font-size: 15px;
          padding: 10px 0;
        }
      }

      .toolbox {
        text-align: center;
        width: 120px;
        height: calc(100vh - 100px);
        overflow-y: auto;
        overflow-x: hidden;

        .square {
          margin-bottom: 8px;
        }
      }

      .objective {
        padding-bottom: 10px;
        width: 100%;

        .test-btn {
          background-color: gray;
          border: none;
          color: white;
          font-size: 18px;
          outline: none;
          padding: 8px 20px;
          position: absolute;
          right: 10px;
          top: 10px;
        }

        .nxt-lvl-btn {
          background-color: $menu;
          border: 1px solid white;
        }

        .row {
          padding: 15px 10px;

          &:hover {
            background-color: #4f4f4f;
          }

          .cell {
            display: inline-block;
            margin-right: 10px;
            margin-top: 4px;

            .ball {
              width: 30px;
              height: 30px;
              border-radius: 50%;
            }

            .bulb {
              width: 40px;
              height: 30px;
            }

            .pnk-on { background-color: rgba(255, 0, 150, 1.0); }
            .pnk-off { background-color: rgba(255, 0, 150, 0.25); }
            .grn-on { background-color: rgba(0, 255, 0, 1.0); }
            .grn-off { background-color: rgba(0, 255, 0, 0.25); }
            .blu-on { background-color: rgba(0, 200, 255, 1.0); }
            .blu-off { background-color: rgba(0, 200, 255, 0.25); }
            .orange-on { background-color: rgba(255, 150, 0, 1.0); }
            .orange-off { background-color: rgba(255, 150, 0, 0.25); }
          }

          .score-check {
            margin-bottom: 8px;
          }

          .score-x {
            margin-bottom: 3px;
          }
        }
      }
    }
  }
}
