
$charged: #54B7B7;

body {
  background-color: black;
  margin: 0;
  color: white;
}

.board {

  .square {
    background-color: #2E2E2E;
    border: 1px solid;
    border-color: #2E2E2E;
    border-radius: 10px;
    display: inline-block;
    margin-right: 4px;
    height: 100px;
    width: 100px;

    &:hover {
      border-color: $charged;
    }
  }

}
